#
# $Header: /tmp_mnt/net/panda/u14/plum/rcs/clibsrc/make.config,v 1.6 1996/03/01 02:53:07 bschwart Exp $
#

#
# By default, look in the GLOBAL_ROOT area after everyplace else.  Note that
# since multiple architectures may be supported on a single machine, we don't
# want to call this just /common.
#

MACHINE		= mips
GLOBAL_ROOT	= /common.$(MACHINE)

MOTIF.sgirix5 =	/usr/include/X11
MOTIF.sun4os4 =	/d4mutl/Motif1.1.3
MOTIF =		$(MOTIF.${MTYPE})

IFLAGS.common =	$(EXTRA_IFLAGS) $(INTERNAL_IFLAGS) -I$(DEPTH)/cinclude
IFLAGS.sgirix5 =	-I$(MOTIF.sgirix5) $(IFLAGS.common)
IFLAGS.sun4os4 =	\
		-I/usr/X11R5/include \
		-I$(MOTIF.sun4os4)/include \
		$(IFLAGS.common)
IFLAGS =	$(IFLAGS.${MTYPE})

CFLAGS.common = $(EXTRA_CFLAGS) $(INTERNAL_CFLAGS) $(IFLAGS) -DUSESTRINGDOTH
CFLAGS.sgirix5 = $(CFLAGS.common) -Wf,-XNp16000 -Wf,-XNd8000 -Wf,-XNh2000 -G 16 
CFLAGS.sun4os4 = $(CFLAGS.common)
CFLAGS = $(CFLAGS.${MTYPE})

SFLAGS  = $(EXTRA_SFLAGS) $(INTERNAL_SFLAGS) $(IFLAGS) -DUSESTRINGDOTH

LDFLAGS = $(EXTRA_LDFLAGS) $(INTERNAL_LDFLAGS) -G 16 

LD_PATH = -L$(DEPTH)/clib

MACH_LIBS = -lm -lc

CC = cc

INFODIR = /usr/new/lib/emacs/info

LINTDESTDIR = /bsd43/usr/lib/lint/
LINTSKIP = bcopy|bcmp|bzero|fprintf
